form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 50%;

}
fieldset{
  outline: 1px black solid;
}
textarea{
  block-size: auto;
  max-width: 80%;
  size: unset;
}
.date{
  max-width: 30%;
}
.concepts{
  max-width: 40%;
}
.journal__entry{
  max-width: 80%;
}
.mood{
  max-width: 40%;
}
.record{
  max-width: 30%;
  padding: 5px;
  margin: 1px;
}
.JournalEntryList{
  display: flex;
  flex-wrap: wrap;
}
.journalEntry{
  flex-basis: 30%;
  border: 1px black solid;
  margin: .5em;
  text-align: center;
}
.searchfilter{
  display: flex;
  justify-content: space-evenly;
}
.filterbox{
  border: 1px solid black;
  flex-basis: 40%;
}
